.gold::after{
    text-decoration: underline solid 2px #ffd700;
    content:"(złoto)";
    margin-left: 5px;
}
.silver::after{
    text-decoration: underline solid 2px #c0c0c0;
    content:"(srebro)";
    margin-left: 5px;
}
.bronze::after{
    text-decoration: underline solid 2px #a52a2a;
    content:"(braz)";
    margin-left: 5px;
    
}
.main-list{
    line-height: 1.5;
    list-style-type: none;
}
li h3{
    font-size: 18px;
    margin-bottom: 0;
    background-color: #ccc;
}